<!DOCTYPE HTML>
<html>
	<head>
		<title>Statistics</title>
	</head>
	<body>
		<h2>Simulation info</h2>
		<br>
		<h4>Execution Parameters</h4>
		<p>Number of simulations: $numberOfSimulations</p>

		<p>Maximum time to run the simulation: $maxTimePerSimulation s</p>

		<p>Number of concurrent connections: $kConnections</p>

		<p>Number of threads for system calls: $systemCalls</p>

		<p>Number of available processes for query processing: $nAvailableProcesses</p>

		<p>Number of available processes for query transactions: $pAvailableProcesses</p>

		<p>Number of available processes for query executions: $mAvailableProcesses</p>

		<p>Connection timeout: $timeout s</p>
		<br>

		<h4>Global simulation statistics</h4>

	</body>
</html>